nav {
  display: flex;
  margin: initial;
}

li {
  list-style: none;
}

header {
  background: #252525;
  color: #fff;
  display: inline-flex;
  font-size: 12px;
  width: 100%;
}

header li {
  padding: 0 0.5rem;
  border-right: 1px solid #555555;
}

header li:nth-child(1) {
  border-right: initial;
}

.a-headerIcon {
  width: 25px;
  margin-top: 4px;
}

.header__menu {
  justify-content: flex-start;
  align-items: center;
}

.header__subMenu {
  justify-content: flex-end;
  right: 1em;
  align-items: center;
}

.header__subMenu .login {
  color: #39C4C1;
}
.header__subMenu .saiyo {
  color: #D9A300;
}