ul {
  display: flex;
  margin: initial;
}

li {
  list-style: none;
  border-right: 1px solid #555555;
}

header {
  background: #252525;
  color: #fff;
  display: inline-flex;
  font-size: 18px;
  width: 100%;
}

header li {
  padding: 0 0.5rem ;
}

.a-headerIcon {
  width: 25px;
}

.header__menu {
  justify-content: flex-start;
}

.header__subMenu {
  justify-content: flex-end;
  position: absolute;
  right: 1em;
}

.header__subMenu .login {
  color: #39C4C1;
}
.header__subMenu .saiyo {
  color: #D9A300;
}