.a-tag.-icon {
    margin: 0;
    width: 20px;
    vertical-align: middle;
}

.a-movieTag {
    display: inline-block;
    padding: 0.4em 0.5em;
    background-color: #fff;
    border: 1px solid #e5e8ea;
    border-radius: 17px;
    color: #32475E;
    font-size: 12px;
    font-weight: bold;
    position: relative;
    margin-right: 0.5em;
}

.a-movieTag.-gray {
    padding: 0.2em 1em;
    background-color: #B2BAC2;
    border: none;
    color: #fff;
    height: calc(1rem + 5px);
    margin-right: 2rem;
    margin-top: 0.8em;
}

.o-tagContainer {
    display: flex;
    margin-left: 123px;
}

.o-tagWrapper {
    margin: 0.5em 0;
}