.a-movieThumbnail {
    height: 8vh;
    width: 10vw;
    background-color: #000;
    border: solid 1px #000;
    border-radius: 3px;
}

.a-title {
    color: #069;
    min-width: 100px;
    margin: 0 1em;
}

.a-toggle {
    appearance: initial;
    background-color: #657586;
    height: 1rem;
    width: 2rem;
    position: relative;
    border-radius: 15px;
}

.a-toggleSwitch {
    position: relative;
}

.a-toggleSwitch::before {
    position: absolute;
    content: "";
    height: calc(1em - 0.2em);
    width: 1em;
    border-radius: 1em;
    left: 6px;
    background-color: #fff;
    transition: .4s;
    top: -14px;
    left: 1px;
}

.a-toggle__wrapper {
    height: 1rem;
    width: 2rem;
}

.a-toggle__wrapper::before {
    background-color: #fff;
    height: 30px;
    width: 30px;
    position: absolute;
}

.m-anchorBox {
    color: #657586;
}

.o-movieAnchor {
    display: flex;
    justify-content: space-between;
    line-height: 34px;
    margin: 0 8px;
}

.o-movieAnchorAside {
    display: flex;
}

.o-movieListThumbnail {
    align-items: center;
    margin: 4px 8px;
    display: inline-flex;
}