.a-movieTitle {
    color: #00070f;
    font-size: 20px;
}

.a-movieSubTitle {
    color: #636970;
    font-size: 13px;  
    font-weight: 400;
    margin-right: 123px;
}

.a-userGroupName {
    color: #006699;
    font-weight: 700;
    font-size: 16px;
    margin: 8px 0;
}

.a-movieGroupIcon {
    vertical-align: middle;
    width: 19px;
}

.a-icon {
    width: 52px;
}

.a-icon.-user {
    width: 52px;
    height: 52px;
    margin-right: 6px;
}

.a-icon.-follow {
    width: 16px;
    margin: 0 auto;
}

.a-icon.-desc {
    color: #0466cf;
    font-weight: bold;
    font-size: 12px;
    display: inline-block;
    text-align: center;
    font-weight: 300;
}

.a-tag {
    color: #006699;
    }

.a-tag__box {
    display: flex;
    flex-grow: 2;
    margin-top: 0.3em;
}

.a-tag.-name {
    font-weight: bold;
    margin-bottom: 4px;
}

.a-tag.-square {
    border: solid 1px #006699;
    border-radius: 3px;
    font-weight: bold;
}

.o-userInfo .a-tag.-square {
    margin-right: 4px;
    padding: 0 0.4em;
}

.a-tag.-movieInfo {
    color: #4a5561;
}

.a-tag.-movieInfo.-bold {
    font-weight: bold;
}

.a-text {
    color: #006699;
}

.o-userInfo {
    display: flex;
    font-size: 13px;
    justify-content: space-evenly;
}

.o-userInfo__box {
    display: flex;
    flex-direction: column;
}

.o-userInfoWrapper {
    display: flex;
    text-align: initial;
}

.o-titleWrapper {
    margin-left: 123px;
    text-align: left;
}

.o-userInfo__box.-movieInfo {
    border-left: 1px solid #fff;
    box-shadow: -1px 0 0 0 #e0e0e0;
    padding: 0 1em;
    justify-content: center;
}